:root {
  --main-gradient: linear-gradient(to right, #dc6262, #f74bab, #c640d0);
  --pink: #e718b3;
}

body{
  font-family: "Arial Black", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #110c17;
}

#title {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 100%;
}

h1 {
    margin: 0;
    width: 5rem;
}

header {
  background-color: #241631;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px
}

nav {
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 2rem;
}

nav a {
  text-decoration: none;


}

.navBar {
  background: var(--main-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

section {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

footer {
  background-color: #241631;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  color: white;
}

h2, h3, h4, h5 {
  color: var(--pink);
  font-size: 1.6rem;
}

.history-image-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-image {
    display: flex;
    width: 30rem;
}