:root {
  --main-gradient: linear-gradient(to right, #dc6262, #f74bab, #c640d0);
  --pink: #e718b3;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Arial Black", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #110c17;
}

#title {
  background: var(--main-gradient);
  background-clip: text;
  color: transparent;
  margin-right: 2rem;
}

h1 {
  margin: 0;
}

header#start {
  background-color: #241631;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header#history {
  background-color: #241631;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header#socialimpact {
  background-color: #241631;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

header#personalities {
  background-color: #241631;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

header#pillars {
  background-color: #241631;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
}

nav {
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  width: 100%;
  gap: 2rem;
}

nav a {
  text-decoration: none;
}

.navBar {
  background: var(--main-gradient); 
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#history {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

#history-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding-inline: 10%;
}

section#socialimpact {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

section#personalities {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

section#pillars {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

footer#footerall {
  background-color: #241631;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  color: white;
  margin: 0px;
}

h2#history,
h3#pillarscult,
h4#socialimpact,
h5#personalities 
 {
  color: var(--pink);
  font-size: 1.6rem;
}

.history-image-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-image {
  display: flex;
  max-width: 25rem;
}

div#start-text {
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: start;
  justify-content: flex-start;
}

.text-container p {
  width: 100%;
  font-size: 1.1rem;
  text-align: justify;
  align-self: center;

}

.div-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 40rem;
  height: 18rem;
  border-radius: 5px;
}

#jockey-wall {
  background-image: url("../assets/Muro_jockey.jpg");
}

#boombox {
  background-image: url("../assets/boombox.jpg");
}

.title-history {
  margin-top: 1.2rem;
}